.HamburgerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3rem;
  width: 3rem;
  padding: .7rem .3rem .7rem .3rem;
}

.Line {
  display: block;
  height: 0.3rem;
  background-color: #000;
}

.Line:nth-child(1) {
  /* background-color: green; */
  width: 90%;
}

.Line:nth-child(2) {
  /* background-color: green; */
  width: 70%;
}

.Line:nth-child(3) {
  /* background-color: green; */
  width: 100%;
}
